:root {
  --primary: #8090c2;
  --primary-txt-color: white;
  --secondary: #c2b280;
  --danger: #c28090;
  --info: #80c2b2;
}

.disable-select {
  user-select: none;
}

.card {
  margin: auto;
  background-color: var(--primary);
  color: var(--primary-txt-color);
}

.container {
  margin: auto;
  width: 80%;
  height: 5%;
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 10px 0px;
  margin-top: 10px;
}

.arrow {
  display: inline-block;
  border: solid var(--primary-txt-color);
  border-width: 4px 4px 0px 0px;
  margin-right: 10%;
  vertical-align: middle;
  align-self: center;
  width: 10px;
  height: 10px;
}

.arrow.up {
  transform: rotate(-45deg);
}

.arrow.down {
  transform: rotate(135deg);
}

.bg-secondary {
  background-color: var(--secondary);
}
