:root {
	--primary: #8090c2;
	--primary-txt-color: white;
	--secondary: #c2b280;
	--danger: #c28090;
	--info: #80c2b2;
}

.line {
	height: 2px;
	width: 80%;
	background-color: var(--primary);
}

.tab-l {
	margin-left: 10%;
}

a {
	font-size: 2em;
	text-decoration: none;
	color: var(--primary);
	font-weight: bold;
}
a:hover {
	background-color: rgba(100, 100, 100, 0.2);
}
a:active {
	color: var(--info);
}

li {
	font-size: 2em;
}

.collapsible-wrapper {
	display: flex;
	overflow: hidden;
}
.collapsible-wrapper:after {
	content: '';
	height: 50px;
	transition: height 0.3s linear, max-height 0s 0.3s linear;
	max-height: 0px;
}
.collapsible {
	transition: margin-bottom 0.3s cubic-bezier(0, 0, 0, 1);
	margin-bottom: 0;
	max-height: 1000000px;
}
.collapsible-wrapper.collapsed > .collapsible {
	margin-bottom: -2000px;
	transition: margin-bottom 0.3s cubic-bezier(1, 0, 1, 1), visibility 0s 0.3s,
		max-height 0s 0.3s;
	visibility: hidden;
	max-height: 0;
}
.collapsible-wrapper.collapsed:after {
	height: 0;
	transition: height 0.3s linear;
	max-height: 50px;
}

.disable-select {
	user-select: none;
}

.card {
	margin: auto;
	background-color: var(--primary);
	color: var(--primary-txt-color);
	display: flex;
	/* justify-content: center; */
}

.container {
	margin: auto;
	width: 80%;
	height: 5%;
	display: flex;
	/* justify-content: space-between; */
	/* align-content: center; */
	padding: 10px 0px;
	margin-top: 10px;
}

.arrow {
	display: inline-block;
	border: solid var(--primary-txt-color);
	border-width: 4px 4px 0px 0px;
	margin-right: 10%;
	vertical-align: middle;
	width: 10px;
	height: 10px;
}

.arrow.up {
	transform: rotate(-45deg);
}

.arrow.down {
	transform: rotate(135deg);
}

.bg-secondary {
	background-color: var(--secondary);
}

.bg-danger {
	background-color: var(--danger);
}

.bg-info {
	background-color: var(--info);
}

.mt-0 {
	margin-top: 0;
}
.mt-1 {
	margin-top: 5px;
}
.mt-2 {
	margin-top: 10px;
}
.mt-3 {
	margin-top: 15px;
}
.m-0 {
	margin: 0;
}
.mb-0 {
	margin-bottom: 0;
}
.mb-1 {
	margin-bottom: 5px;
}
.mb-2 {
	margin-bottom: 10px;
}
.mb-3 {
	margin-bottom: 15px;
}
.m-1 {
	margin: 5px;
}
.m-2 {
	margin: 10px;
}
.p-2 {
	padding: 10px;
}
.px-3 {
	padding: 0px 15px;
}
.mx-3 {
	margin-left: 15px;
	margin-right: 15px;
}

.center {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-self: center;
}

.middle {
	display: flex;
	flex-direction: row;
	align-self: center;
}

.flex-col {
	flex-direction: column;
}
